{% extends 'main.html'%}
{% block body%}

<!--Category-->
<span class="toggle_icon" onclick="openNav()"><img src="/static/images/toggle-icon.png"></span>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Category</button>

    <ul class="dropdown-menu">

        {% for cat in category %}
        <li><a class="dropdown-item" href="#">{{cat.name}}</a>
            <ul class="dropdown-menu dropdown-submenu">
                {% for i in cat.sub_category_set.all %}
                <li>
                    <a class="dropdown-item" href="#">{{i.name}}</a>
                </li>
                {%endfor%}
            </ul>

        </li>
        {% endfor%}

    </ul>
</div>



<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">

                    <h1 class="fashion_taital">{{cat.name}}</h1>
                    {% for prod in product %}
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">{{prod.name}}</h4>
                                    <p class="price_text">Price <span style="color: #262626;">{{prod.price}} Tk.</span>
                                    </p>
                                    <div class="tshirt_img"><img src={{prod.image}}></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>


    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
</div>
<!-- fashion section end -->


{% endblock%}